  <div style="padding:10px" >
  <%= link_to 'Registrar uma promoção', new_promotion_path %>
  </div>

	<% if @promotions.empty? %>
		<h3> Nenhuma promoção cadastrada </h3>
	<% end %>

<table>
	<tr>
		<th class = "h"> Promoção: </th>
	  <th class = "h"> Descrição: </th>
		<th class = "h"> Desconto: </th>
	</tr>
	<tr>
		<% @promotions.each do |promotion| %>
			<td> <%= link_to promotion.name, promotion %> </td>
			<td> <%= promotion.description %> </td>
			<td> <%= number_to_percentage promotion.discount_rate, separator: ',', precision: 2 %> </td>
	</tr>
		<% end %>
</table>
